server:
  port: 8007
management:
  endpoints:
    web:
      exposure:
        include: "*"
endpoints:
  prometheus:
    enabled: true
spring:
  cloud:
    bus:
      enabled: true
      trace:
        enabled: true
    config:
      server:
        git:
          uri: file:///home/huta/workspace/java/lab/
          #uri: https://github.com/HubertTatar/sbms.git
          search-paths: configurations
  rabbitmq:
    host: localhost
    port: 5672
    username: rabbit
    password: rabbit